body{
    background-image: url("../Images/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
#section1{
    height: 75vh;
}
#heading{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
     height: 10%;
    background-color: white;
    width: 100%;
    z-index: 1100;
    
}
#header h1{
    font-size: 30px;
    margin-left: 1rem;
}
.span{
    color: blue;
}
#navigation a{
    text-decoration: none;
   padding: 0.5rem;
    color: blue;
    position: relative;
    top: 1.5rem;
    font-size: 20px;
    font-weight: bold;
}
.homepageH1{
position: absolute;
left: 15rem;
font-size: 30px;
color: blue;
}
#home1{
    height: 85vh;
    width: 99%;
    position: relative;
    top: 8rem;
    left: 1rem;
    background-color: white;
    opacity: 0.7;
    display: flex;
    flex: column;
}
#home1 div{
    position: relative;
    top: 4rem;
    height: 85%;
    width: 26%;
    margin: 0.5rem;
    background-color: black;
    color: blue;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.problem1, h1 h3{
    margin: 0.5rem;
    font-size: 25px;
}
.problem2, h1, img, h3, ol{
    margin: 0.5rem;
}
.problem2 >ol{
    font-size: 20px;
}
.problem3 >ol{
    font-size: 20px;
}
.problem4, h3,ol{
    font-size: 20px;
}

#section2{
    height: 100vh;
    
}
#button{
    position: relative;
    top: 10rem;
    color: white;
    background-color: blue;
    font-size: 25px;
}
#mechanic-form{
    height: 60vh;
    width: 40vw;
    position: relative;
    top: 18rem;
    left: 30%;
    box-shadow: 5px 5px 5px 5px blue;
    display: flex;
    flex-direction: row;
 
}
.myMechanic h2{
     margin-left: 1rem;
 }  
#name{
    font-size: 25px;
}
#location{
    font-size: 25px;
}
#contacts{
    font-size: 25px;
}
#image{
    font-size: 25px;
}
.myMechanic{
   color: white;
    width: 35%;
    background-color: black;
}
.myMechanic h1>span{
    color: blue;
}
.myMechanic h2>span{
    color: blue;
}

.profileForm{
    background-color: white;
    width: 65%;
}
#mechanic-form h1{
    text-align: center;
    margin-top: 0.5rem;
    margin-right: 2rem;
    font-size: 30px;
}
#form{
     margin: 2rem;
    font-size: 20px;
    
}
#submission{
    color: white;
    background-color: blue;
    position: absolute;
    font-size: 25px;
    left: 17rem;
}
#submission:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
    box-shadow: 4px 4px black;
    font-size: large;
}
#section3{
    height: 100vh;
}
#myProfiles{
    position: relative;
    top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#myProfiles p{
   margin-left: 2rem;
    color: black;
}
.profile{
    height: 50vh;
    width: 22%;
    background-color: white;
    margin: 0.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 10px 10px;
}
.profile-image img{
    height: 20vh;
    position: relative;
    left: 4rem;
    top: 0.5rem;
    border-radius: 400px;
}
#review-mechanic{
    position: relative;
    
}
.reviewInput{
    margin-left: 2rem;
    position: relative;
    bottom: 0.8rem;
   right: 1rem;
}
#review-button{
    color: white;
    background-color: blue;
    cursor: pointer;
    position: relative;
    bottom: 0.8rem;
}
#section4{
    height: 100vh;
}
#login-registration{
    display: flex;
    justify-content: space-evenly;
}
#login-card{
    height: 50vh;
    width: 30%;
    background-color: white;
    position: relative;
    top: 8rem;
    box-shadow: 5px 5px blue;
}
#login-card h1{
    margin-left: 2rem;
    font-size: 30px;
}
#login-card button{
    color: white;
    background-color: blue;
    border: none;
    padding: 0.5rem;
    font-size: 25px;
}
#login-card button:hover{
    cursor: pointer;
    color: blue;
    background-color: black;
}
#login-form{
    margin: 2rem;
}
#login-form p, input{
    font-size: 25px;
}

#login-card p{
    position: relative;
    bottom: 1rem;
    font-size: 25px;
}
#register{
      height: 50vh;
    width: 30%;
    background-color: white;
    position: relative;
    top: 8rem;
    box-shadow: 5px 5px blue;
}

#register input{
margin-top: 1rem;
}
#register, h1, label{
    margin-left: 0.5rem;
}
#registerButton{
    color: white;
    background-color: blue;
    border: none;
    padding: 0.5rem;
    align-items: center;
    position: relative;
    top: 1rem;
    left: 2rem;
    
}
#registerButton:hover{
     cursor: pointer;
    color: blue;
    background-color: black
}
.loginpara{
    margin-top: 1rem;
    margin-left: 1rem;
}
#contact{
    height: 50vh;
    width: 30%;
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 4rem;
    box-shadow: 5px 5px blue;
}
#contact-form{
    margin-left: 1.5rem;
    font-size: 20px;
}
#messageUs{
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    
}
#footer{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: white;
    bottom: 0;
}
.footer{
    display: flex;
    flex-direction: row;
    position: relative;
}
.footer h3 ,h4{
    position: absolute;
    
}
.social{
    height: 90%;
    width: 48%;
    margin-top: 2.3rem;
    color: black;
    position: relative;
    bottom: 1rem;
  
}
.themechanic{
   height: 90%;
   margin: 1rem;
    width: 48%;
    padding-top: 0.3rem;
    margin-top: 2.3rem;
    color: black;
    position: relative;
    bottom: 2rem;
    


}