body{
    background-image: url(/assets/Images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
#section1{
    height: 100vh;
}
#heading{
    position: fixed;
    display: flex;
    justify-content: space-between;
     height: 10%;
    background-color: white;
    width: 100%;
    
}
#header h1{
    font-size: 30px;
    margin-left: 1rem;
}
.span{
    color: blue;
}
#navigation a{
    text-decoration: none;
    margin-right: 0.5rem;
    color: blue;
    position: relative;
    top: 1.5rem;
    font-size: 20px;
    font-weight: bold;
}
#section2{
    height: 100vh;
    
}
#button{
    position: relative;
    top: 10rem;
    color: white;
    background-color: blue;
    font-size: 25px;
}
#mechanic-form{
    height: 60vh;
    width: 40vw;
    background-color: white;
    position: relative;
    top: 10rem;
    left: 30%;
    box-shadow: 5px 5px 5px 5px blue;
   
}
#mechanic-form h1{
    text-align: center;
}
#form{
     margin: 2rem;
    font-size: 20px;
    
}
#submission{
    color: white;
    background-color: blue;
    position: absolute;
    bottom: 4rem;
    left: 10rem;
}
#section3{
    height: 100vh;
}
#myProfiles{
    position: relative;
    top: 6rem;
    display: flex;
    flex-wrap: wrap;
}
.profile{
    height: 40vh;
    width: 22%;
    background-color: white;
    margin: 0.5rem;
}