body{
    background-image: url(/assets/Images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
#section1{
    height: 75vh;
}
#heading{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
     height: 10%;
    background-color: white;
    width: 100%;
    z-index: 1100;
    
}
#header h1{
    font-size: 30px;
    margin-left: 1rem;
}
.span{
    color: blue;
}
#navigation a{
    text-decoration: none;
    margin-right: 0.5rem;
    color: blue;
    position: relative;
    top: 1.5rem;
    font-size: 20px;
    font-weight: bold;
}
#section2{
    height: 100vh;
    
}
#button{
    position: relative;
    top: 10rem;
    color: white;
    background-color: blue;
    font-size: 25px;
}
#mechanic-form{
    height: 60vh;
    width: 40vw;
    background-color: white;
    position: relative;
    top: 10rem;
    left: 30%;
    box-shadow: 5px 5px 5px 5px blue;
   
}
#mechanic-form h1{
    text-align: center;
}
#form{
     margin: 2rem;
    font-size: 20px;
    
}
#submission{
    color: white;
    background-color: blue;
    position: absolute;
    bottom: 8rem;
    left: 6rem;
}
#submission:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
    box-shadow: 4px 4px black;
    font-size: large;
}
#section3{
    height: 100vh;
}
#myProfiles{
    position: relative;
    top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#myProfiles p{
   margin-left: 2rem;
    color: black;
}
.profile{
    height: 50vh;
    width: 22%;
    background-color: white;
    margin: 0.5rem;
}
.profile-image img{
    height: 20vh;
    position: relative;
    left: 4rem;
    top: 0.5rem;
    border-radius: 400px;
}
#review-mechanic{
    position: relative;
    
}
.reviewInput{
    margin-left: 2rem;
    position: relative;
    top: 0.8rem;
   right: 1rem;
}
#review-button{
    color: white;
    background-color: blue;
    cursor: pointer;
    position: relative;
    top: 0.8rem;
}
#section4{
    height: 100vh;
}
#login-card{
    height: 50vh;
    width: 30%;
    margin: auto;
    background-color: white;
    position: relative;
    top: 8rem;
    box-shadow: 5px 5px blue;
}
#login-card h1{
    margin-left: 2rem;
}
#login-card button{
    color: white;
    background-color: blue;
}
#login-card button:hover{
    cursor: pointer;
    color: blue;
    background-color: black;
}
#login-form{
    margin: 2rem;
}
#contact{
    height: 50vh;
    width: 30%;
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 4rem;
    box-shadow: 5px 5px blue;
}
#contact-form{
    margin-left: 1.5rem;
}